<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改页面</title>
</head>
<body>
    <!-- 修改密码表单 -->
    {% block content %}
    <form action="/password/" method="post">
        {% csrf_token %} 
        <label for="username">用户名：</label>
        <input type="text" name="username" id="username" placeholder="如小明"/><br>
        <label for="old_password">旧密码：</label>
        <input type="password" name="old_password" id="old_password" placeholder="请输入原密码" minlength="8" /><br>
        <label for="new_password">新密码：</label>
        <input type="password" name="new_password" id="new_password" placeholder="请输入新密码" minlength="8" title="新密码必须大于八位字符" /><br>
        <input type="submit" value="确认修改">
    </form>
    {% endblock %}
</body>
</html>